#include "redirect.h"
#include <windows.h>

#define _FILEFLAGS 0
#define _FILETYPE VFT_APP
#define _FILESUBTYPE 0
#ifndef SLNRC
#ifdef _DEBUG
#ifdef WIN64
#define S_COMMENT "X64Debug\000"
#elif WIN32
#define S_COMMENT "X86Debug\000"
#else
#define S_COMMENT "Debug\000"
#endif  //WIN64
#else
#ifdef WIN64
#define S_COMMENT "X64Release\000"
#elif WIN32
#define S_COMMENT "X86Release\000"
#else
#define S_COMMENT "Debug\000"
#endif  //WIN64
#endif //_DEBUG
#endif //SLNRC
#define S_FILEDESCRIPTION "OIVT Sample Application\000"
#define S_INTERNALNAME "Redirect\000"
#define S_ORIGINALFILENAME "Redirect.exe\000"
#include <sccver.rc>


SCC_ICON                ICON    DISCARDABLE     "redirect.ico"

SCC_MENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...",                    MENU_FILE_OPEN
        MENUITEM "&Close",                      MENU_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Print...",                   MENU_FILE_PRINT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy",                       MENU_EDIT_COPY
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Secondary Info",             MENU_VIEW_INFO
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "About...",                    MENU_HELP_ABOUT
    END
END



IDD_SECONDARYINFO DIALOG DISCARDABLE  0, 0, 453, 226
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Secondary file info"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,396,7,50,14
    LISTBOX         IDC_SECINFO_LIST,7,7,383,212,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
END

HELP_ABOUTBOX DIALOG DISCARDABLE  34, 22, 187, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "About Redirect"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            "SCC_ICON",611,11,17,18,20
    LTEXT           "",HELP_ABOUTBOXVERINFO,40,10,139,42
    DEFPUSHBUTTON   "OK",IDOK,75,75,32,14,WS_GROUP
END

