#include "resource.h"

#include "rfaserv.h"

#define _FILEFLAGS 0
#define _FILETYPE VFT_APP
#define _FILESUBTYPE 0
#ifndef SLNRC
#ifdef _DEBUG
#ifdef WIN64
#define S_COMMENT "X64Debug\000"
#elif WIN32
#define S_COMMENT "X86Debug\000"
#else
#define S_COMMENT "Debug\000"
#endif  //WIN64
#else
#ifdef WIN64
#define S_COMMENT "X64Release\000"
#elif WIN32
#define S_COMMENT "X86Release\000"
#else
#define S_COMMENT "Debug\000"
#endif  //WIN64
#endif //_DEBUG
#endif //SLNRC
#define S_FILEDESCRIPTION "OIVT Sample Application\000"
#define S_INTERNALNAME "RFAServer\000"
#define S_ORIGINALFILENAME "RFAServ.exe\000"
#include <sccver.rc>


RFASERV                 ICON    DISCARDABLE     "rfaserv.ico"

BMP_MIDLIVE             BITMAP  MOVEABLE PURE   "midlive.bmp"
BMP_MIDDEAD             BITMAP  MOVEABLE PURE   "middead.bmp"
BMP_ENDLIVE             BITMAP  MOVEABLE PURE   "endlive.bmp"
BMP_ENDDEAD             BITMAP  MOVEABLE PURE   "enddead.bmp"
BMP_SERVERLIVE          BITMAP  MOVEABLE PURE   "server.bmp"
BMP_SERVERDEAD          BITMAP  MOVEABLE PURE   "servera.bmp"

