#include "options.h"
#include <windows.h>

#define _FILEFLAGS 0
#define _FILETYPE VFT_APP
#define _FILESUBTYPE 0
#ifndef SLNRC
#ifdef _DEBUG
#ifdef WIN64
#define S_COMMENT "X64Debug\000"
#elif WIN32
#define S_COMMENT "X86Debug\000"
#else
#define S_COMMENT "Debug\000"
#endif  //WIN64
#else
#ifdef WIN64
#define S_COMMENT "X64Release\000"
#elif WIN32
#define S_COMMENT "X86Release\000"
#else
#define S_COMMENT "Debug\000"
#endif  //WIN64
#endif //_DEBUG
#endif //SLNRC
#define S_FILEDESCRIPTION "OIVT Sample Application\000"
#define S_INTERNALNAME "Options\000"
#define S_ORIGINALFILENAME "Options.exe\000"
#include <sccver.rc>


SCC_ICON                ICON         "options.ico"

BULLET0     BITMAP  MOVEABLE PURE   "bullet.bmp"
BULLET1     BITMAP  MOVEABLE PURE   "bullet1.bmp"
SCC_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...",                    MENU_FILE_OPEN
        MENUITEM "&Close",                      MENU_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Abort",                      MENU_FILE_ABORT
		MENUITEM  "P&roperties",				MENU_FILE_PROPERTIES
		MENUITEM  "Properties by &ID",			MENU_FILE_PROPERTIESBYID
		MENUITEM  "Properties by I&ndex",		MENU_FILE_PROPERTIESBYINDEX
		MENUITEM  "Info &Messages",		        MENU_FILE_INFOMESSAGES
		MENUITEM  "Get Page Number",		        MENU_FILE_GETPAGENUMBER
		MENUITEM SEPARATOR
        MENUITEM "&Print...",                   MENU_FILE_PRINT
        MENUITEM "Print &Setup...",             MENU_FILE_PRINTSETUP
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy",                       MENU_EDIT_COPY
    END
    POPUP "&Rendering"
    BEGIN
        POPUP "&WP Wrap"
		BEGIN
			MENUITEM "WP Wrap to Window &ON",        MENU_OPTIONS_WPWRAPON
			MENUITEM "WP Wrap to Window O&FF",       MENU_OPTIONS_WPWRAPOFF
        END
        POPUP "&Reorder Method"
        BEGIN
            MENUITEM "&Off",						MENU_OPTIONS_REORDEROFF            
            MENUITEM "Unicode, &LtoR",           MENU_OPTIONS_REORDERUNICODELTOR
			MENUITEM "Unicode, &RtoL",           MENU_OPTIONS_REORDERUNICODERTOL			
        END
        MENUITEM "Default input character set...",
                                                MENU_FONTOPTIONS_DEFAULTINPUTCHARACTERSET
		POPUP "&ISO Date Formatting"
		BEGIN
			MENUITEM "&All Dates ISO Format", MENU_SYSTEM_OPTIONS_ISODATES
			MENUITEM "&Standard Date Format" MENU_SYSTEM_OPTIONS_STANDARDDATES
		END
        MENUITEM SEPARATOR
        MENUITEM "Enable &Parse XMP metadata",   MENU_SYSTEM_OPTIONS_PARSEXMPMETADATA
        MENUITEM "Set Time&zone...",            MENU_SYSTEM_OPTIONS_TIMEZONE
        MENUITEM "Enable &Anti-aliasing",       MENU_SYSTEM_OPTIONS_ANTIALIAS
		MENUITEM "&Maintain Zoom && Rotation",       MENU_SYSTEM_OPTIONS_MAINTAINZOOM
        MENUITEM "Disable &JPG Support",        MENU_SYSTEM_OPTIONS_JPGOFF
        MENUITEM "Disable &LZW Support",        MENU_SYSTEM_OPTIONS_LZWOFF
		POPUP "&Email"
		BEGIN
			MENUITEM "&Standard Email Headers Only",  MENU_SYSTEM_OPTIONS_STANDARD_EMAIL_HEADER
			MENUITEM "&All Email Headers",			 MENU_SYSTEM_OPTIONS_ALL_EMAIL_HEADER
			MENUITEM "&No Email Headers",			 MENU_SYSTEM_OPTIONS_NO_EMAIL_HEADER
			MENUITEM "&Custom Email Headers...",	 MENU_SYSTEM_OPTIONS_CUSTOM_EMAIL_HEADER
			MENUITEM SEPARATOR
			MENUITEM "&Disable Email View",          MENU_SYSTEM_OPTIONS_DISABLE_EMAIL
		END
        POPUP "&Html"
        BEGIN
            MENUITEM "&No Conditional Comments",  MENU_SYSTEM_OPTIONS_COND_COMMENT_NONE
            MENUITEM "Conditional Comments for IE&5",  MENU_SYSTEM_OPTIONS_COND_COMMENT_IE5
            MENUITEM "Conditional Comments for IE&6",  MENU_SYSTEM_OPTIONS_COND_COMMENT_IE6
            MENUITEM "Conditional Comments for IE&7",  MENU_SYSTEM_OPTIONS_COND_COMMENT_IE7
            MENUITEM "Conditional Comments for IE&8",  MENU_SYSTEM_OPTIONS_COND_COMMENT_IE8
            MENUITEM "Conditional Comments for IE&9",  MENU_SYSTEM_OPTIONS_COND_COMMENT_IE9
            MENUITEM "&All Conditional Comments",  MENU_SYSTEM_OPTIONS_COND_COMMENT_ALL
        END
    END
    POPUP "Fo&nt"
    BEGIN
        MENUITEM "Font scaling factor...",      MENU_FONTOPTIONS_FONTSCALINGFACTOR
        MENUITEM SEPARATOR
        MENUITEM "Add display font alias...",   MENU_FONTOPTIONS_ADDDISPLAYFONTALIAS

        MENUITEM "Remove display font alias...",
                                                MENU_FONTOPTIONS_REMOVEDISPLAYFONTALIAS

        MENUITEM "Clear display font alias map",
                                                MENU_FONTOPTIONS_CLEARDISPLAYFONTALIASMAP

        MENUITEM "Use default display font alias map",
                                                MENU_FONTOPTIONS_SETDISPLAYDEFAULTALIASMAP

        MENUITEM SEPARATOR
        MENUITEM "Add print font alias...",     MENU_FONTOPTIONS_ADDPRINTFONTALIAS

        MENUITEM "Remove print font alias...",  MENU_FONTOPTIONS_REMOVEPRINTFONTALIAS

        MENUITEM "Clear print font alias map",  MENU_FONTOPTIONS_CLEARPRINTFONTALIASMAP

        MENUITEM "Use default print font alias map",
                                                MENU_FONTOPTIONS_SETPRINTDEFAULTALIASMAP
    END
    POPUP "F&I/LO"
    BEGIN
        MENUITEM "File ID &string...",           MENU_FIOPTIONS_FILEID
        MENUITEM SEPARATOR
        MENUITEM "FI &Normal",                   MENU_FIOPTIONS_FINORMAL
        MENUITEM "FI &Extended",                 MENU_FIOPTIONS_FIEXTENDED
        MENUITEM SEPARATOR
		MENUITEM "&Resource Library ID",         MENU_OPTIONS_RESOURCEID
    END
    POPUP "&System"
    BEGIN
		POPUP "&Read Ahead"
		BEGIN
	        MENUITEM "Read Ahead &ON",               MENU_SYSTEM_OPTIONS_READAHEADON
	        MENUITEM "Read Ahead O&FF",              MENU_SYSTEM_OPTIONS_READAHEADOFF
	        MENUITEM "&Notify Read Ahead Done",      MENU_OPTIONS_NOTIFYREADAHEAD
		END
        POPUP "Directories"
		BEGIN
			MENUITEM "Set&TempDir...",               MENU_SYSTEM_TEMPDIR
		    MENUITEM "Set Lotus &Notes Dir...", MENU_SYSTEM_OPTIONS_LOTUSNOTESDIRECTORY
		END
		POPUP "&Memory Settings"
		BEGIN
	        MENUITEM "Set &I/O Buffer Sizes...",     MENU_SYSTEM_OPTIONS_IOBUFSIZE
			POPUP "&SCC Internal Memory Usage",
			BEGIN
				MENUITEM "Smallest",				MENU_SYSTEM_OPTIONS_MEMSMALLEST
				MENUITEM "Small",	                MENU_SYSTEM_OPTIONS_MEMSMALL
				MENUITEM "Medium",				    MENU_SYSTEM_OPTIONS_MEMMED
				MENUITEM "Large",			        MENU_SYSTEM_OPTIONS_MEMLARGE
				MENUITEM "Max",			            MENU_SYSTEM_OPTIONS_MEMMAX
			END
		END
        MENUITEM "Enable File &Access Dialog",   MENU_SYSTEM_OPTIONS_FILEACCESSDIALOG
	    MENUITEM "Ignore Passwords",            MENU_SYSTEM_OPTIONS_IGNOREPASSWORD
		MENUITEM "Filter Process BIDI PDFs",     MENU_SYSTEM_OPTIONS_PDF_FILTER_BIDI
        MENUITEM SEPARATOR
		POPUP "&Driver Bugs"
		BEGIN
			MENUITEM "&Graphic workaround",          MENU_SYSTEM_OPTIONS_GRAPHICDRIVERBUG
			MENUITEM "&Printer workaround",          MENU_SYSTEM_OPTIONS_PRINTERDRIVERBUG
		END
        MENUITEM SEPARATOR
        MENUITEM "Enable &SBO Handler",      MENU_SYSTEM_OPTIONS_SBO
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",                    MENU_HELP_ABOUT
    END
END

SCC_FONTSCALINGDIALOG DIALOG DISCARDABLE  46, 32, 218, 40
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Font Scaling Factor"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        EDIT_FONTSCALINGFACTOR,8,14,158,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Ok",IDOK,174,4,40,14,WS_GROUP
    PUSHBUTTON      "&Cancel",IDCANCEL,174,20,40,14
END

SCC_RESOURCEIDDIALOG DIALOG DISCARDABLE  46, 32, 100, 54
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Resource Library ID "
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        EDIT_RESOURCEID,8,16,82,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Ok",IDOK,8,30,40,14,WS_GROUP
    PUSHBUTTON      "&Cancel",IDCANCEL,50,30,40,14
    CTEXT           "Enter 0-5 characters",STATIC_RESIDHELP,6,6,70,8
END

SCC_FILEIDDIALOG DIALOG DISCARDABLE  46, 32, 211, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "File Type ID "
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "File type Id:",STATIC_FILEID,25,18,38,8
    EDITTEXT        EDIT_FILEID,70,16,82,12,ES_AUTOHSCROLL
    LTEXT           "File Type String",STATIC_FILEIDSTRING,25,36,161,8
    DEFPUSHBUTTON   "&OK",IDOK,46,54,40,14,WS_GROUP
    PUSHBUTTON      "&Close",IDCANCEL,97,54,40,14
END

SCC_UNMAPPABLECHARDIALOG DIALOG DISCARDABLE  46, 32, 211, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Unmappable character "
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Unicode value (hex):",STATIC_UNMAPPABLECHAR,38,18,68,8
    EDITTEXT        EDIT_UNMAPPABLECHAR,110,16,52,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,58,46,40,14,WS_GROUP
    PUSHBUTTON      "&Close",IDCANCEL,109,46,40,14
END

SCC_ADDFONTALIASDIALOG DIALOG DISCARDABLE  0, 0, 180, 106
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Add Font Alias"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        EDIT_ORIGINALNAME,21,25,137,14,ES_AUTOHSCROLL
    EDITTEXT        EDIT_ALIASNAME,21,60,140,14,ES_AUTOHSCROLL
    LTEXT           "Original Font Name",STATIC_FILEID,61,12,61,8
    LTEXT           "Alias Font Name",STATIC_RESIDHELP,61,47,61,8
    PUSHBUTTON      "Ok",IDOK,35,82,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,100,82,50,14
END

SCC_REMOVEFONTALIASDIALOG DIALOG DISCARDABLE  0, 0, 180, 106
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Remove Font Alias"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Original Font Name",STATIC_FILEID,61,12,61,8
    LTEXT           "Alias Font Name",STATIC_RESIDHELP,61,47,61,8
    PUSHBUTTON      "Done",IDOK,100,82,50,14
    PUSHBUTTON      "Delete",BUTTON_DELETEALIAS,35,82,50,14
    COMBOBOX        COMBO_ORIGINALNAME,25,25,137,66,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
    COMBOBOX        COMBO_ALIASNAME,25,58,137,66,CBS_DROPDOWNLIST |
                    WS_VSCROLL | WS_TABSTOP
END

HELP_ABOUTBOX DIALOG DISCARDABLE  34, 22, 187, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "About Options"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            "SCC_ICON",611,11,17,18,20
    LTEXT           "",HELP_ABOUTBOXVERINFO,40,10,139,42
    DEFPUSHBUTTON   "OK",IDOK,75,75,32,14,WS_GROUP
END

SCC_ARCOUTPUTPATH DIALOG DISCARDABLE  46, 32, 211, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Archive File Output Path"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Path",STATIC_UNMAPPABLECHAR,38,18,23,8
    EDITTEXT        EDIT_SETPATH,68,16,132,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,58,46,40,14,WS_GROUP
    PUSHBUTTON      "&Close",IDCANCEL,109,46,40,14
END

SCC_TIMEZONEDIALOG DIALOG DISCARDABLE  0, 0, 186, 67
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Timezone"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Offset from GMT (hours):",STATIC_TIMEZONE,7,12,56,8
    EDITTEXT        EDIT_TIMEZONE,63,9,40,14,ES_AUTOHSCROLL
    CONTROL         "&Use System Timezone",BUTTON_USE_SYS_TZ,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,31,88,10
    DEFPUSHBUTTON   "OK",IDOK,58,46,40,14
    PUSHBUTTON      "Cancel",IDCANCEL,109,46,40,14
END

SCC_IOBUFSIZEDIALOG DIALOG DISCARDABLE 0,0,200,104
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "I/O Buffer Sizes"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",    IDOK,           20,80,40,14
    PUSHBUTTON      "Cancel",IDCANCEL,       80,80,40,14
    PUSHBUTTON      "Default", BUT_DEFAULT, 140,80,40,14
    RTEXT           "Read Buffer Size:",         TEXT_READBUFSIZE, 0,12,105,14
    RTEXT           "Memory Map Max:",           TEXT_MMAPBUFSIZE, 0,32,105,14
    RTEXT           "TempMemFile Max Per File:", TEXT_TEMPBUFSIZE, 0,52,105,14
    LTEXT           "KB", TEXT_KB1, 155,12,14,14
    LTEXT           "KB", TEXT_KB2, 155,32,14,14
    LTEXT           "KB", TEXT_KB4, 155,52,14,14
    EDITTEXT        EDIT_READBUFSIZE, 110,10,40,14,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    EDITTEXT        EDIT_MMAPBUFSIZE, 110,30,40,14,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    EDITTEXT        EDIT_TEMPBUFSIZE, 110,50,40,14,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
END

SCC_DEFAULTCHARSETDIALOG DIALOG DISCARDABLE  46, 32, 211, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Default Character Set"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,46,54,40,14,WS_GROUP
    PUSHBUTTON      "&Close",IDCANCEL,97,54,40,14
    COMBOBOX        COMBO_CHARSETID,25,15,128,66,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


SCC_INFOMSGDIALOG DIALOG 0, 0, 331, 113
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Viewer Info Messages"
FONT 8, "Arial Unicode MS"
BEGIN
    PUSHBUTTON      "Ok",IDOK,140,92,50,14
    EDITTEXT        EDIT_INFOMSG,10,10,310,73,ES_MULTILINE | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END


SCC_PROPERTYDIALOG DIALOG 0, 0, 331, 113
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "File Properties"
FONT 8, "Arial Unicode MS"
BEGIN
    PUSHBUTTON      "Ok",IDOK,140,92,50,14
    EDITTEXT        EDIT_PROPERTY,10,10,310,73,ES_MULTILINE | ES_READONLY | WS_VSCROLL | WS_HSCROLL
END

SCC_PROPERTYDIALOGBYID DIALOG 0, 0, 305, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "File Properties By ID"
FONT 8, "Arial Unicode MS"
BEGIN
    PUSHBUTTON      "Close",IDCANCEL,160,73,50,14
    PUSHBUTTON      "Test",IDOK,94,73,50,14
    LTEXT           "Property ID",STATIC_PROPID,117,17,38,8
    LTEXT           "Property Name",STATIC_PROPNAME,14,37,49,8
    LTEXT           "Property Value",STATIC_PROPVALUE,13,53,48,8
    EDITTEXT        EDIT_PROPERTYID,160,14,28,14,ES_AUTOHSCROLL
    EDITTEXT        EDIT_PROPERTYNAME,67,34,231,14,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        EDIT_PROPERTYVALUE,67,50,231,14,ES_AUTOHSCROLL | ES_READONLY
END

SCC_PROPERTYDIALOGBYINDEX DIALOG 0, 0, 305, 94
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "File Properties By Index"
FONT 8, "Arial Unicode MS"
BEGIN
    PUSHBUTTON      "Close",IDCANCEL,160,73,50,14
    PUSHBUTTON      "Test",IDOK,94,73,50,14
    LTEXT           "Property Index",STATIC_PROPID,112,17,43,8
    LTEXT           "Property Name",STATIC_PROPNAME,14,37,49,8
    LTEXT           "Property Value",STATIC_PROPVALUE,13,53,48,8
    EDITTEXT        EDIT_PROPERTYID,160,14,28,14,ES_AUTOHSCROLL
    EDITTEXT        EDIT_PROPERTYNAME,67,34,231,14,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        EDIT_PROPERTYVALUE,67,50,231,14,ES_AUTOHSCROLL | ES_READONLY
END

SCC_FILEACCESSDIALOG DIALOG DISCARDABLE  46, 32, 211, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "File Access Dialog"
FONT 8, "Arial Unicode MS"
BEGIN
    LTEXT           "Enter password:",STATIC_INPUTPASSWORD,25,16,72,12
    EDITTEXT        EDIT_INPUTPASSWORD,92,16,82,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,46,54,40,14,WS_GROUP
    PUSHBUTTON      "&Cancel",IDCANCEL,97,54,40,14
END

SCC_NOTESACCESSDIALOG DIALOG DISCARDABLE  46, 32, 211, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Notes Access Dialog"
FONT 8, "Arial Unicode MS"
BEGIN
    LTEXT           "Enter path to Notes ID file:",STATIC_INPUTNOTESID,5,16,72,12
    EDITTEXT        EDIT_INPUTNOTESID,92,16,82,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,46,54,40,14,WS_GROUP
    PUSHBUTTON      "&Cancel",IDCANCEL,97,54,40,14
END


SCC_CUSTOMEMAILHEADERSDIALOG DIALOGEX 0, 0, 195, 190
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Select Email Headers"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
	LTEXT           "Email Type:",STATIC_EMAIL_TYPE,5,10,40,8
    COMBOBOX        SCC_EMAIL_SUBTYPE,45,10,140,66,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
	LTEXT           "Visible Headers",STATIC_EMAIL_AVAILABLE,	13, 30,60,8
    LTEXT           "Hidden Headers",STATIC_EMAIL_SELECTED,	123,30,60,8,0

    LISTBOX         SCC_EMAIL_SELECTED,			5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LISTBOX         SCC_JOURNAL_SELECTED,		5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LISTBOX         SCC_TASK_SELECTED,			5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LISTBOX         SCC_APPOINTMENT_SELECTED,	5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LISTBOX         SCC_NOTE_SELECTED,			5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 
	LISTBOX         SCC_CONTACT_SELECTED,		5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LISTBOX         SCC_DISTROLIST_SELECTED,	5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
	LISTBOX         SCC_POST_SELECTED,			5,40,75,90,LBS_SORT | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP

	PUSHBUTTON      "->",SCC_ADD_HEADER,		90,62,15,14
    PUSHBUTTON      "<-",SCC_REMOVE_HEADER,		90,82,15,14
    

    LISTBOX         SCC_EMAIL_AVAILABLE,		115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP	
    LISTBOX         SCC_JOURNAL_AVAILABLE,		115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 
    LISTBOX         SCC_TASK_AVAILABLE,			115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 
    LISTBOX         SCC_APPOINTMENT_AVAILABLE,	115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 	
    LISTBOX         SCC_NOTE_AVAILABLE,			115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 
    LISTBOX         SCC_CONTACT_AVAILABLE,		115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP    
	LISTBOX         SCC_DISTROLIST_AVAILABLE,	115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 
	LISTBOX         SCC_POST_AVAILABLE,			115,40,75,90,LBS_SORT | LBS_MULTIPLESEL| LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP 


    PUSHBUTTON      "Setup Non-standard Headers...",SCC_ADD_CUSTOM,40,140,115,15

	PUSHBUTTON      "OK",IDOK,			85, 170,50,15
    PUSHBUTTON      "Cancel",IDCANCEL,	140,170,50,15
END


SCC_NONSTANDARDHEADERSDIALOG DIALOGEX 0, 0, 220, 190
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Define Non-standard Headers"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
	LISTBOX									SCC_NONSTANDARD_LIST,		10,10,85,90,	LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	
	LTEXT			"Header:",				STATIC_NONSTANDARD_HEADER,	10,108,25,12
	LTEXT			"Label:",				STATIC_NONSTANDARD_LABEL,	10,122,25,12
	EDITTEXT								SCC_NONSTANDARD_HEADER,		40,104,150,12,	ES_AUTOHSCROLL
	EDITTEXT								SCC_NONSTANDARD_LABEL,		40,120,150,12,	ES_AUTOHSCROLL
	PUSHBUTTON		"&Add Header",			SCC_ADD_NONSTANDARD,		10,140,60,12
	PUSHBUTTON		"&Remove Header",		SCC_REMOVE_NONSTANDARD,		80,140,60,12
	PUSHBUTTON		"Remove All",			SCC_REMOVEALL_NONSTANDARD,	150,140,60,12


	LTEXT			"Visible In:",			STATIC_VISIBLE_IN,						105,10,70,8
	CHECKBOX		"Email:",				SCC_NONSTANDARD_EMAIL_CHECKBOX,			105,20,70,8
	CHECKBOX		"Journal:",				SCC_NONSTANDARD_JOURNAL_CHECKBOX,		105,30,70,8
	CHECKBOX		"Contact:",				SCC_NONSTANDARD_CONTACT_CHECKBOX,		105,40,70,8
	CHECKBOX		"Task:",				SCC_NONSTANDARD_TASK_CHECKBOX,			105,50,70,8
	CHECKBOX		"Appointment:",			SCC_NONSTANDARD_APPOINTMENT_CHECKBOX,	105,60,70,8	
	CHECKBOX		"Note:",				SCC_NONSTANDARD_NOTE_CHECKBOX,			105,70,70,8
	CHECKBOX		"Distribution List:",	SCC_NONSTANDARD_DISTROLIST_CHECKBOX,	105,80,70,8
	CHECKBOX		"Post:",				SCC_NONSTANDARD_POST_CHECKBOX,			105,90,70,8


	PUSHBUTTON      "OK",IDOK,			85, 170,50,15
    PUSHBUTTON      "Cancel",IDCANCEL,	140,170,50,15
END